.Character img {
    width: 200px;
    height: auto;
}

.Character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.Character__bg__light{
    box-shadow: 0 0 2px #c1bcbc; 
    
    background-color: #f1f1f1;
}


.Character__bg__dark{
    box-shadow: 0 0 2px #c1bcbc; 
    
    
}